<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ne0ndrag0n - News and Articles</title>
    <meta property="og:title" content="ne0ndrag0n - News and Articles">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://www.ne0ndrag0n.com/icon.png">
    <meta property="og:url" content="https://www.ne0ndrag0n.com/">
    <meta property="og:description" content="The latest articles written by Ashley.">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="icon.png">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/news.css">
    <link rel="stylesheet" href="/css/hover-tricks.css">
</head>

<body>

    <header>
        <h1><a href="/">ne0ndrag0n</a></h1>
        <h1>News & Articles</h1>
    </header>

    <main class="news">
      <div class="news-block">
        <div class="left-column">
            <i class="fas fa-drafting-compass"></i>
            <div>
              <h2>Technical Articles</h2>
              <span>ne0ndrag0n's technical opinions.</span>
            </div>
        </div>
        <div class="right-column">
          {{#each this.technical}}
            <div class="news-segment">
              <a href="/d/news/{{ uuid }}">{{ headline }}</a>
              <div>Posted on {{ pubdate }}</div>
              <h4>{{ brief }}</h4>
            </div>
          {{else}}
            No articles yet
          {{/each}}
        </div>
      </div>
      <div class="news-block">
        <div class="left-column">
            <i class="fas fa-globe"></i>
            <div>
              <h2>The Real World</h2>
              <span>Political opinions and philosophy.</span>
            </div>
        </div>
        <div class="right-column">
          {{#each this.realworld}}
            <div class="news-segment">
              <a href="/d/news/{{ uuid }}">{{ headline }}</a>
              <div>Posted on {{ pubdate }}</div>
              <h4>{{ brief }}</h4>
            </div>
          {{else}}
            No articles yet
          {{/each}}
        </div>
      </div>
    </main>

    <footer>
        <span>(c) 2018 ne0ndrag0n. Perpetually under construction.</span>
    </footer>

</body>

</html>
